*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    max-width: 100%;

}
.container-fluid{
    background-color: rgb(55, 184, 184);
    height: 70px;
    padding: 5px;
}
.d1{
    text-transform: uppercase;
    /* border: 2px solid red; */
    color: white;
}

.d2 i{
    padding: 4.5px;
    color: white;
}
.d2 i:hover{
    color: rgba(84, 77, 77, 0.842);
}

.d3 select{
    border:none;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(55, 184, 184);
    text-transform:uppercase;
}
.d4 .btn1{
    color: white;
    background-color: rgb(55, 184, 184);
    border: none;
    text-transform:uppercase;
    margin: 0 8px ;
   
}

.container{
    margin-top: -20px;
    position: relative;
    z-index: 5;
}



@media (max-width:773px) {
    .d3,.d4{
        display: none;
    }
}
@media (max-width:767px) {
    .t1{
        display: none;
    }
}

.n1 b{
    color:rgb(55, 184, 184);
    font-size: 30px;
}
.n1 span{
    font-size: 30px;
}

@media (max-width:767px) {
    .n1{
        width: 100%;
        text-align: center;
    }
    .dropdown-menu li a{
        font-size: 19px !important;
        background-color: white !important;
    }
    .nav-item a{
        font-size: 22px ;
        background-color: white ;
    }
    

} 

#id1 li a{
    text-decoration: none;
    color: black;
    display: none;
}
#id1 li{
    list-style: none;
    
}
.clg1:hover  #id1 li a{
     display: block;
}

 .map{
    margin-top: -67px;
    width: 100%;
    height: 70vh;
   
}
.img6{
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
}  

 @media (max-width:767px) {
    /* .map .iframe{
       margin-top: 10px;
    } */
    .container{
        margin-top: 5px;
    } 
    
}
.middlepart{
    height:150px;
    width: 550px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    word-spacing: 4px;
    font-weight: bold;
} 
@media (max-width:1119px) {
    .middlepart p{
        display: none;
    }
    
}

.imgc1:hover ~ .imgc1o1{
    z-index: 3;
    
}
.imgc1o1{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56%;
    z-index: -2;
}


.card-fluid{
    background-color: rgb(233, 228, 228);
}

/* .cardr1{
    border: 3px solid red;
} */

.card .card-body h3:hover,.card .card-body i:hover,.card .card-body span:hover,.card-body h5:hover{
    color:rgb(55, 184, 184) !important;

}
.fa-link{
    background-color: rgb(55, 184, 184);
    height: 70px;
    width: 70px;
    text-align: center;
    
    padding-top: 20px;
}
.smallcard{
    margin-left: 70px;
    margin-top: -50px;
}

.caro{
    margin-top: -52%;
}
.caro1{
    margin-top: -90%;
}


.foot{
    background-color: rgb(17, 16, 16);
 }
 .foot i{
    color: white
 }
 @media (max-width:991px) {
    .footer{
        flex-wrap: wrap;
     }
 }


/* .hoverdiv{
   border: 3px solid red;
   
} */
.footdiv::after{
    content: "";
    /* color: white;
    border: 2px solid white; */
    position: absolute;
    top: 23%;
    left: 80.65%;
    height: 22.9%;
    width: 7.9%;
}
.footdiv:hover::after{
    background-color: rgba(78, 74, 74, 0.54);
    z-index: 2;
}

.footfont .fa-facebook {
    /* border: 3px solid rgb(42, 237, 16); */
    opacity: 0;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 22%;
    left: 83%;
   
}
.footdiv:hover ~ .footfont .fa-facebook {
    opacity: 1;
    z-index: 10;
    top: 31%;
}



.footdiv2::after{
    content: "";
    /* color: white;
    border: 2px solid white; */
    position: absolute;
    top: 48%;
    left: 80.8%;
    height: 23%;
    width: 7.9%;
}
.footdiv2:hover::after{
    background-color: rgba(78, 74, 74, 0.54);
    z-index: 2;
}
.footfont2 .fa-facebook2 {
    /* border: 3px solid rgb(42, 237, 16); */
    opacity: 0;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 48%;
    left: 83%;
   
}
.footdiv2:hover ~ .footfont2 .fa-facebook2 {
    opacity: 1;
    z-index: 10;
    top: 58%;
}


.footdiv3::after{
    content: "";
    /* color: white;
    border: 2px solid white; */
    position: absolute;
    top: 73%;
    left: 80.8%;
    height: 23%;
    width: 7.9%;
}
.footdiv3:hover::after{
    background-color: rgba(78, 74, 74, 0.54);
    z-index: 2;
}
.footfont3 .fa-facebook3 {
    /* border: 3px solid rgb(42, 237, 16); */
    opacity: 0;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 72%;
    left: 83%;
   
}
.footdiv3:hover ~ .footfont3 .fa-facebook3 {
    opacity: 1;
    z-index: 10;
    top: 81%;
}



